.Quote {
  margin: 2rem 0;
}

.Quote__text {
  font-style: italic;
  line-height: 1.5rem;
}

.Quote__reference {
  color: var(--grey);
  font-size: 0.8rem;
  line-height: 1.1rem;
  margin: 0.2rem 0;
}
