.App__nav-list {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

.App__nav-item {
  padding: 1rem 0;
}

@media (min-width: 760px) {
  .App__nav-list {
    margin-right: 1rem;
  }
}

@media (min-width: 1440px) {
  .App__nav-list {
    gap: 3rem;
    margin: 1rem;
  }

  .App__nav-item {
    transition: 0.3s;
  }

  .App__nav-item:hover {
    background-color: var(--red);
    color: var(--white);
    font-weight: 900;
    letter-spacing: -1px;
    padding: 1rem 1.5rem;
  }
}
